@import url('https://fonts.cdnfonts.com/css/academy-engraved-let');
@import url('https://fonts.cdnfonts.com/css/wallpaper');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-color: #FFE7D1;
    padding: 0 26px;
}

header {
    width: 100%;
    height: 100px;
    border: 1px solid black;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 94px;
}

nav {
    display: flex;
    gap: 61px;
}

header > h1 {
    text-transform: uppercase;
    font-size: 40px;
    font-family: 'Academy Engraved LET', sans-serif;
    color: black;
}

nav > a {
    font-size: 25px;
    font-family: 'Academy Engraved LET', sans-serif;
    color: black;
}

header > button {
    width: 200px;
    height: 48px;
    background-color: #ED4D1B;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 20px;
    border: 2px solid black;
}


main {
    width: 100%;
    height: 800px;
    border: 1px solid black;

    display: flex;
    align-items: center;
}

main > span { 
    width: 40%;
    display: flex;
    flex-direction: column;
    padding-left: 112px;
    gap: 40px;
}

span > h2 {
    width: 474px;
    font-size: 64px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
}

span > p {
    width: 368px;
    font-size: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
}

span > button {
    width: 225px;
    height: 48px;
    background-color: #ED4D1B;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 20px;
    border: 2px solid black;
}

main > img {
    width: 60%;
}

.heroArrow {
    display: flex;
    margin-top: -40px;
    margin-left: 140px;
    width: 105px;
    height: 97px;
}

.heroTitle {
    color: #ED4D1B;
}

.heroTextContainer {
    display: flex;
}

.iconTextHero {
    margin-top: -20px;
}


section{
    width: 100%;
    height: 750px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 272px;;
    height:306px ;
    background-color: #ED4D1B;
    padding-left: 32px;
    padding-top: 27px ;
    border: 2px solid black;
    border-right: 4px solid black;
    margin-top: 110px;
    box-shadow: 10px 10px black;
}

.cardContent > img{
    width: 48px;
    height: 48px;
}
.cardContent{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.card > img {
    display: block;
    align-self:flex-end;
    margin-top: 40px;

}

.cardContent > p{
  font-size: 16px;
    width: 207px;
    height: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} 
.cardContent > h3{
    font-size: 24px;
} 

.yellow-card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 272px;;
    height:306px ;
    background-color: #FF9A3C;
    padding-left: 32px;
    padding-top: 27px ;
    border: 2px solid black;
    border-right: 4px solid black;
    margin-top: 140px;
    box-shadow: 10px 10px black;
}



.yellow-cardContent > img{
    width: 48px;
    height: 48px;
}
.yellow-cardContent{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.yellow-card > img {
    display: block;
    align-self:flex-end;
    margin-top: 40px;

}

.yellow-cardContent > h4{
    font-size: 24px;
    
} 
.yellow-cardContent > p{
    font-size: 16px;
    width: 207px;
    height: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} 


.sax-card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 272px;;
    height:306px ;
    background-color: #6fed1b;
    padding-left: 32px;
    padding-top: 27px ;
    border: 2px solid black;
    border-right: 4px solid black;
    margin-top: 115px;
    box-shadow: 10px 10px black;
}

.sax-cardContent > img{
    width: 48px;
    height: 48px;
}
.sax-cardContent{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.sax-card > img {
    display: block;
    align-self:flex-end;
    margin-top: 40px;

}

.sax-cardContent > p{
    width: 207px;
    height: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px
} 

.sax-cardContent > h5{
    font-size: 24px;
} 

.bate-card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 272px;;
    height:306px ;
    background-color:#3c90ff;
    padding-left: 32px;
    padding-top: 27px ;
    border: 2px solid black;
    border-right: 4px solid black;
    margin-top: 135px;
    box-shadow: 10px 10px black;
}

.bate-cardContent > img{
    width: 48px;
    height: 48px;
}
.bate-cardContent{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.bate-card > img {
    display: block;
    align-self:flex-end;
    margin-top: 40px;

}

.bate-cardContent > h6{
    font-size: 24px;
} 

.bate-cardContent > p{
    width: 207px;
    height: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px
} 

section{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.reiCard{
    display: flex;
    flex-direction: row;
    gap: 33px;
    

}

.textin{
    font-size: 64px;
    padding-top: 60px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.textin>h2{
    width: 1000px;
    display: flex;
}

div>h2{
    font-size: 64px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

div> .VÃRIOS{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 64px;
    color: #FF9A3C;
}

div> .outros{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 64px;  
}




.textin>div{
display: flex;
flex-direction: row;
gap: 16px;

}

.buttonconhe>div{
   
    margin-top: 50px;
}

button{
    
width: 225px;
height: 48px;
background-color: #ED4D1B;
font-weight: 700px;
font-size: 20px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
border: 2px solid rgb(0, 0, 0);
display: block;
justify-content: center;
margin-top: 80;

}

footer{
    width: 100%;
    height: 403px;
    border: 1px solid rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    gap: 200px;
    padding-top: 32px;
}
 
.TOM > p{
    width: 262px;
    margin-top: 32px;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.inicio{
    font-size: 24px;
    display: flex;
    flex-direction: column;
    gap: 32px ;
}

.material{
   
    display: flex ;
    flex-direction: column;
    gap: 32px;
}

.material > h1{
    font-size: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
 
input{
    width: 560px;
    height: 48px;
   box-shadow: 2px 0px black;
}